.navbar-custom {
  background: #3A81BA;
  font-family: "Consolas", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}

.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #C4C4C4;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #C4C4C4;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #C4C4C4;
}

.navbar-custom .navbar-brand a:hover {
  color: #C4C4C4;
  outline: none;
}

.homeAboutMe {
	background: white;
	color: #AAAAAA;
	font-size: 20px;
}

.portfolioStart {
	margin-top: 50px;
	color: #AAAAAA;
	font-size: 20px;
}

footer {
  color: white;
}

footer .footer-above {
  padding-top: 10px;
  background-color: #3A81BA;
}

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}

.portfolioTitle {
	color: white;
	padding: 20px;
	background-color: #2C3E50;
	font-family: "Consolas";
	font-weight: 700;
	border: none;
}

.portfolioImg {
	margin-top: 30px;
	width: 200px;
}

.intelImg {
	width: 300px;
}

.portfolioButton {
	margin: 10px;
	width: 180px;
	height: 50px;
	color: #3A81BA;
    background-color: #FFFFFF;
    border: solid 2px #3A81BA;
    border-radius: 15px;
}
.portfolioButton:hover, .portfolioButton:focus, .portfolioButton:active {
	background-color: #C4C4C4;
}

.titleButton {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
}

.socialButton {
  margin: 2px; 
  width:45px; 
  height:45px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid black;
}